# Data Preprocessing for classification models

In [21]:
"""
This is a skeleton of Assignment 2 for DS5110 Spring 2023.
NOTE you will need to change the .ipynb file name by following the naming convention.
Code should be commented well. 
Feel free to import any missing packages. 
"""
import dask
from dask.distributed import Client
import dask.dataframe as dd
import time
import json
import numpy as np
import pandas as pd

start local client

In [22]:
client = Client()
client = client.restart()
print(client)

/Users/meldrumapple/opt/anaconda3/lib/python3.9/site-packages/distributed/node.py:180: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 50815 instead
  warnings.warn(

<Client: 'tcp://127.0.0.1:50816' processes=0 threads=0, memory=0 B>

read in data

In [23]:
data = dd.read_csv('1987.csv', sample=2**30, assume_missing=True)

In [24]:
data.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1987.0,10.0,14.0,3.0,741.0,730.0,912.0,849.0,PS,1451.0,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,1987.0,10.0,15.0,4.0,729.0,730.0,903.0,849.0,PS,1451.0,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,1987.0,10.0,17.0,6.0,741.0,730.0,918.0,849.0,PS,1451.0,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,1987.0,10.0,18.0,7.0,729.0,730.0,847.0,849.0,PS,1451.0,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4,1987.0,10.0,19.0,1.0,749.0,730.0,922.0,849.0,PS,1451.0,...,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

make column for classification id, delete columns we don't want:

In [25]:
def func(row):
    if pd.isnull(row['ArrDelay']):
        return 'D'
    else:
        if row['ArrDelay']>60:
            return 'C'
        else:
            if row['ArrDelay']>30:
                return 'B'
            else:
                return 'A'
            
data['DelayClass'] = data.apply(func, axis=1)

/Users/meldrumapple/opt/anaconda3/lib/python3.9/site-packages/dask/dataframe/core.py:5239: UserWarning:
You did not provide metadata, so Dask is running your function on a small dataset to guess output types. It is possible that Dask will guess incorrectly.
To provide an explicit output types or to silence this message, please provide the `meta=` keyword, as described in the map or apply function that you are using.
  Before: .apply(func)
  After:  .apply(func, meta=(None, 'object'))

  warnings.warn(meta_warning(meta))

In [26]:
data=data.drop(['DepTime', 'ActualElapsedTime', 'AirTime', 'DepDelay', 'TaxiIn', 'TaxiOut', 'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'], axis=1)

In [ ]:
data['DelayClass'].head()